// Fuentes
$fuente_principal: 'Poppins', sans-serif;

/* _variables.scss */

// Colores
$azul: #0da6f3;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900; // Puedes cambiarla por la que quieras
//----- AÑADE ESTO -----
// Tamaños de Media Queries (Breakpoints)
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;